:root {
    --bg-color: #050505;
    --text-color: whitesmoke;
    --default-font-size: 16px;
    --section-margin: 6rem;
    --less-opacity: .75;
    --side-margin: 1rem;
    --border-color: rgba(128, 128, 128, 0.4);
}

* {
    margin:0;
    line-height:normal;
}

a {
    color : var(--text-color);
    text-decoration : none;
}

html {
    font-size: var(--default-font-size);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    color : var(--text-color);
    background-color: var(--bg-color);
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.opaque {
    opacity: 1;
}

.transparent {
    opacity: 0;
}

hr {
    border: none;
    border-top: 2px solid darkgray;
    margin: 0 var(--side-margin);
    opacity: 0.2;
}

#loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-img {
    width: 8rem;
    border-radius: 50%;
    animation: loadingPulse 0.5s infinite ease-in-out;
}

@keyframes loadingPulse {
    0% {
        transform: scale(1);
        opacity: 0.75;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.75;
    }
}

#page-container {
    transition: opacity 0.5s ease;
}

#portfolio-header {
    padding: 1rem 0 0 1rem;
}

#portfolio-logo {
    scale: 0;
    display: block;
    width: 4rem;
    transition: scale 0.35s ease-in-out;
}
#portfolio-logo.scaled {
    scale: 1;
}

footer {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 2rem var(--side-margin);
}

#footer-info {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#footer-portfolio-name {
    font-weight: bold;
    font-size: 1.75rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-section-title {
    opacity: var(--less-opacity);
    text-transform: uppercase;
}

.footer-section-item-link {
    width: fit-content;
}

.footer-section-item-icon {
    vertical-align: middle;
    width: 1.5rem;
}

.footer-section-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.footer-section-item {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
}

#portfolio-copy-footer {
    text-transform: uppercase;
    padding-top: 1rem;
    opacity: 0.5;
    font-weight: bold;
}


@media (min-width: 600px) and (max-width: 767px) {
    :root {
        --default-font-size: 18px;
    }
    #portfolio-logo {
        width: 5rem;
    }
    #portfolio-name {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        --default-font-size: 22px;
    }
    #portfolio-logo {
        width: 5rem;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    :root {
        --default-font-size: 24px;
    }
    #portfolio-logo {
        width: 6rem;
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    :root {
        --default-font-size: 26px;
    }
    #portfolio-logo {
        width: 6rem;
    }
    footer {
        align-items: center;
        padding: 2rem 5rem;
    }
    #footer-info {
        width: 100%;
        justify-content: center;
        flex-direction: row;
        font-size: 0.75rem;
        column-gap: 4rem;
    }
    #footer-section-socials>.footer-section-list {
        flex-direction: row;
        column-gap: 1rem;
    }
    #footer-section-socials .footer-section-item-text {
        display: none;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}

@media (min-width: 1600px) {
    :root {
        --default-font-size: 26px;
    }
    #portfolio-logo {
        width: 6rem;
    }
    footer {
        padding: 2rem 5rem;
        align-items: center;
    }
    #footer-info {
        width: 100%;
        justify-content: center;
        flex-direction: row;
        font-size: 0.75rem;
        column-gap: 8rem;
    }
    #footer-section-socials>.footer-section-list {
        flex-direction: row;
        column-gap: 1rem;
    }
    #footer-section-socials .footer-section-item-text {
        display: none;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}