:root {
    --project-brightness: .4;
    --projects-padding: 0.5em;
}

#logo-link {
    display: block;
    width: fit-content;
}

#portfolio-about-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 8rem 2rem;
    transform: translateX(-5rem);
    transition: opacity 1.5s ease-out, transform 0.5s ease-out;
}

#portfolio-about-container.opaque {
    transform: translateX(0);
}

#portfolio-name{
    font-weight: bold;
    font-size: 2rem;
}

#portfolio-socials {
    display: flex;
    column-gap: 1.5rem;
    padding-top: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.portfolio-social-icon {
    vertical-align: middle;
    width: 1.5em;
}

#projects-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: var(--section-margin);
}

#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: var(--projects-padding);
    padding: 0 var(--projects-padding);
}

.portfolio-project {
    scale: 0;
    display: flex;
    position: relative;
    width: 100%;
    filter: brightness(var(--project-brightness));
    transition: filter 0.35s, scale 0.5s ease-in-out;
}

.portfolio-project.scaled {
    scale: 1;
}

.portfolio-project-link {
    width: 100%;
    line-height: 0
}

.project-text {
    color: white;
    position: absolute;
    top: 0.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    transition: opacity 0.25s;
}

.project-title {
    left: 0.5rem;
}

.project-tag {
    right: 0.5rem;
}

.portfolio-project-thumbnail {
    width: 100%;
    filter: brightness(1);
}


@media (min-width: 600px) and (max-width: 767px) {
    #portfolio-name {
        font-size: 2.5rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    #portfolio-about-container {
        padding: 7rem 5rem;
    }
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}

@media (min-width: 1600px) {
    #portfolio-about-container {
        padding: 7rem 10rem;
    }
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}