:root {
    --bg-color: black;
    --text-color: whitesmoke;
    --default-font-size: 16px;
    --section-margin: 4rem;
    --less-opacity: .75;
    --side-margin: 1rem;
    --work-brightness: .5;
}

* {
    margin:0;
    line-height:normal;
}

a {
    color : whitesmoke;
    text-decoration : none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    color : var(--text-color);
    font-size: var(--default-font-size);
    background-color: var(--bg-color);
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.opaque {
    opacity: 1;
}

.transparent {
    opacity: 0;
}

hr {
    margin: 0 var(--side-margin);
    opacity: 0.5;
}

#portfolio-header {
    padding: 1rem 0 0 1rem;
}

#portfolio-logo {
    display: block;
    width: 4rem;
    border-radius: 50%;
}

#portfolio-about-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 8rem 2rem;
}

#portfolio-name{
    font-weight: bold;
    font-size: 2rem;
}

#portfolio-socials {
    display: flex;
    column-gap: 2rem;
    padding-top: 1rem;
}

.portfolio-social-icon {
    vertical-align: middle;
    width: 2rem;
}

#works-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: var(--section-margin);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#works {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.5em;
}

.work {
    opacity: 0;
    display: flex;
    position: relative;
    width: 100%;
    filter: brightness(var(--work-brightness));
    transition: opacity 1s, filter 0.25s;
    scroll-snap-align: start;
}

.work.visible {
    opacity: 1;
}

.portfolio-work-link {
    width: 100%;
}

.work-text {
    position: absolute;
    top: 0.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    transition: opacity 0.5s;
}

.work-title {
    left: 0.5rem;
}

.work-tag {
    right: 0.5rem;
}

.work-thumbnail {
    width: 100%;
    filter: brightness(1);
}

footer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem var(--side-margin);
}

#footer-portfolio-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.75rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-section-title {
    opacity: var(--less-opacity);
    text-transform: uppercase;
    font-weight: bold;
}

.footer-section-item-icon {
    vertical-align: middle;
    width: 1.5rem;
}

.footer-section-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.footer-section-item {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
}

#portfolio-copy-footer {
    text-transform: uppercase;
    padding-top: 1rem;
    opacity: 0.5;
    font-weight: bold;
}